In [1]:
import pandas

In [2]:
from sodapy import Socrata

# read data from lacity.org

In [3]:
#client = Socrata("data.lacity.org", None)
client = Socrata("data.lacity.org",
                  "qUZ5uY8jbD43IRFwhvgZFalnn",
                  username="qiyue@usc.edu",
                  password="P@ssword123")
crimes = client.get_all("2nrs-mtv8", where="date_occ between '2021-01-01T00:00:00.000' and '2021-12-31T00:00:00.000'")

# output a json file

In [4]:
import itertools
data_json = list(itertools.islice(crimes,206575))
len(data_json)

206575

In [5]:
record_num = range(1,len(data_json)+1)
#record_ls=[]
#for i in record_num:
#    each = 'incident_' + str(i)
#    record_ls.append(each)

In [6]:
len(record_ls)

206575

In [7]:
data_collection = dict(zip(record_num, data_json))

In [8]:
import json 
#with open("CrimeData2021.json", "w") as outfile: 
#    json.dump(data_collection, outfile)

In [9]:
json_file = {
  "incident": data_collection
}

In [10]:
with open("CrimeData2021.json", "w") as outfile: 
    json.dump(json_file, outfile)

# get the data we need

In [5]:
crimes_df = pandas.DataFrame.from_records(crimes)

In [6]:
crimes_df.columns

Index(['dr_no', 'date_rptd', 'date_occ', 'time_occ', 'area', 'area_name',
       'rpt_dist_no', 'part_1_2', 'crm_cd', 'crm_cd_desc', 'mocodes',
       'vict_age', 'vict_sex', 'vict_descent', 'premis_cd', 'premis_desc',
       'weapon_used_cd', 'weapon_desc', 'status', 'status_desc', 'crm_cd_1',
       'crm_cd_2', 'location', 'lat', 'lon', 'cross_street', 'crm_cd_3',
       'crm_cd_4'],
      dtype='object')

In [7]:
column = ['dr_no', 'date_occ', 'crm_cd', 'crm_cd_desc', 'rpt_dist_no', 'area_name', 'area', 'lat', 'lon']
data = crimes_df[column]

In [26]:
data.head()

,dr_no,date_occ,crm_cd,crm_cd_desc,rpt_dist_no,area_name,area,lat,lon
0,211304029,2021-01-01T00:00:00.000,761,BRANDISH WEAPON,1367,Newton,13,34.0018,-118.2478
1,210904022,2021-01-01T00:00:00.000,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0946,Van Nuys,09,34.1794,-118.4312
2,211104041,2021-01-01T00:00:00.000,421,THEFT FROM MOTOR VEHICLE - ATTEMPT,1109,Northeast,11,34.1395,-118.2022
3,211104706,2021-01-01T00:00:00.000,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),1146,Northeast,11,34.0955,-118.2418
4,220404460,2021-01-01T00:00:00.000,354,THEFT OF IDENTITY,0465,Hollenbeck,04,34.0339,-118.2012

In [27]:
len(data)

206575

In [8]:
crime_type = list(set(data['crm_cd_desc']))

In [9]:
violent = ['ARSON', 'HOMICIDE', 'ASSAULT', 'MANSLAUGHTER', 'SEX', 'RAPE', 'ROBBERY', 'NEGLIGENCE', 'KIDNAPPING', 'BATTERY', 'EXTORTION', 'HARASSMENT', 'ENDANGERMENT', 'TERRORISM']

volCrime = []
for i in violent:
    for j in crime_type:
        if i in j:
            volCrime.append(j)
volCrime

['ARSON',
 'CRIMINAL HOMICIDE',
 'CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT',
 'INTIMATE PARTNER - AGGRAVATED ASSAULT',
 'ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT',
 'CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT',
 'ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER',
 'OTHER ASSAULT',
 'INTIMATE PARTNER - SIMPLE ASSAULT',
 'BATTERY - SIMPLE ASSAULT',
 'BATTERY WITH SEXUAL CONTACT',
 'SEXUAL PENETRATION W/FOREIGN OBJECT',
 'SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH',
 'SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ',
 'INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)',
 'BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM',
 'SEX OFFENDER REGISTRANT OUT OF COMPLIANCE',
 'HUMAN TRAFFICKING - COMMERCIAL SEX ACTS',
 'RAPE, FORCIBLE',
 'RAPE, ATTEMPTED',
 'ATTEMPTED ROBBERY',
 'ROBBERY',
 'KIDNAPPING',
 'KIDNAPPING - GRAND ATTEMPT',
 'BATTERY WITH SEXUAL CONTACT',
 'BATTERY ON A FIREFIGHTER',
 'BATTERY POLICE (SIMPLE)',
 'BATTERY - SIMPLE ASSAULT',
 'EXTORTION']

In [10]:
data_vol = pandas.DataFrame(columns=list(data.columns))

for i in volCrime:
    df = data.loc[data['crm_cd_desc'] == i]
    data_vol = data_vol.append(df, ignore_index=True)

In [11]:
data_vol

,dr_no,date_occ,crm_cd,crm_cd_desc,rpt_dist_no,area_name,area,lat,lon
0,211504038,2021-01-01T00:00:00.000,648,ARSON,1587,N Hollywood,15,34.1387,-118.3598
1,210304108,2021-01-03T00:00:00.000,648,ARSON,0376,Southwest,03,0,0
2,211704155,2021-01-03T00:00:00.000,648,ARSON,1745,Devonshire,17,34.2612,-118.5054
3,210404088,2021-01-03T00:00:00.000,648,ARSON,0497,Hollenbeck,04,34.0217,-118.2161
4,210404086,2021-01-03T00:00:00.000,648,ARSON,0464,Hollenbeck,04,0,0
...,...,...,...,...,...,...,...,...,...
75085,221404317,2021-12-28T00:00:00.000,940,EXTORTION,1433,Pacific,14,34.001,-118.4532
75086,222104081,2021-12-29T00:00:00.000,940,EXTORTION,2111,Topanga,21,34.2096,-118.6559
75087,222004201,2021-12-30T00:00:00.000,940,EXTORTION,2062,Olympic,20,34.0527,-118.3101
75088,220804089,2021-12-31T00:00:00.000,940,EXTORTION,0836,West LA,08,34.0514,-118.4301
75089,222104908,2021-12-31T00:00:00.000,940,EXTORTION,2185,Topanga,21,34.1668,-118.6104